@mixin text-rendering {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -khtml-font-smoothing: antialiased;
    -apple-font-smoothing: antialiased;
    font-smooth: always;
}

// https://css-tricks.com/snippets/css/fluid-typography/
@mixin fluidBaseRem($minimumViewportWidth, $maximumViewportWidth, $minimumSize, $maximumSize) {
    font-size: calc(#{$minimumSize}px + (#{$maximumSize} - #{$minimumSize}) * ((100vw - #{$minimumViewportWidth}px) / (#{$maximumViewportWidth} -  #{$minimumViewportWidth})));
}