$base-font-size: 16px;

$color-white: #FFFFFF;
$color-black: #000000;
$color-light-gray: #A9A9AE;
$color-extra-light-gray: #ececec;

$color-red-theme: #FF2E4A;
$color-red-logo: #D20124;

$color-blue-theme: #00174f;
$color-blue-logo: #012756;
$color-blue-link: #818ca8;


$color-background: #FFFFFF;
